.neos-backend:not(.neos-full-screen) .top-navigation-wrap { top: 82px; }
.neos-edit-preview-panel-open:not(.neos-full-screen) .top-navigation-wrap { top: 182px; }
.neos-inspector-panel-open:not(.neos-full-screen) .top-navigation-wrap { right: 320px; }
.neos-menu-panel-open:not(.neos-full-screen) .top-navigation-wrap, .neos-navigate-panel-open:not(.neos-full-screen) .top-navigation-wrap { left: 320px; }

@media (min-width: 768px) { .container { max-width: 750px; width: 100%; } }
@media (min-width: 992px) { .container { max-width: 970px; width: 100%; } }
@media (min-width: 1200px) { .container { max-width: 1170px; width: 100%; } }

.main-header { background-color: #141414; overflow: hidden; height: 100%; padding-top: 85px; padding-bottom: 115px; margin-bottom: 115px; @font font-bold; }
.main-header, .main-header h1 { color: #fff; }
.main-header.image { background-color: #fff; position: absolute; top: 0; left: 0; right: 0; padding: 0; padding-top: calc(85px); background-position: 50% 50%; background-size: auto 100%; background-repeat: no-repeat; margin-bottom: 0; }
.main-header.image .container { margin-top: calc(33vh + 85px); text-align: center; }
.main-header.image h1 { text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5); letter-spacing: -1px; }
.main-header a { color: #fff; text-decoration: underline; }
.main-header a:hover { text-decoration: none; }
@media only screen and (max-width: 767px) { .main-header h1 { font-size: 1.8rem; } }

.main-header.image + .container { margin-top: calc(100vh); }

figure.typo3-neos-alignment-right { text-align: right; float: right; padding-leftgit : 1em}
figure.typo3-neos-alignment-left { text-align: left; float: left; padding-right: 1em}